.App {
  text-align: center;
}
.appChild{
  overflow-y: auto;
  width: 80%;
  margin: 0 auto;
}

.video{
  width: 100%;
  margin-bottom:10px;
}

.storyLine{
  position: relative;
  width: 100%;
  background-color: #c4c0c0;
  height: 5px;
  margin: 20px auto;
}

.progress{
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #000;
  top: -5px
}

.progressColor {
  position: absolute;
  top:0;
  left: 0;
  background-color:#000;
  height: 5px;
  margin: 0 auto;
}

.canvas {
  border: 1px solid black;
  margin: 10px;
}

.hotspot{
  top:0;
  left:0;
  position: absolute;
  top: -5px;
  fill: red;
  cursor: pointer;
}