.App {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
}

.None {
  display: none;
}

.appChild {
  overflow-y: auto;
  width: 65%;
  margin: 0 auto;
}

.VID {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.video1,
.video2 {
  width: 100%;
  margin-bottom: 10px;
  margin: 0 auto;
  opacity: 1;
  transition: all 3s ease-in-out;
}

.video2 {
  position: absolute;
  top: 0;
  left: 0;
}

.video2.opaque {
  opacity: 0;
}

.storyLine {
  position: relative;
  width: 100%;
  background-color: #000;
  height: 5px;
  margin: 20px auto;
}

.progress {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #000;
  top: -5px
}

.progressColor {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  height: 5px;
  margin: 0 auto;
}

.canvas {
  border: 1px solid black;
  margin: 10px;
}

.hotspot {
  top: 0;
  left: 0;
  position: absolute;
  top: -5px;
  fill: #55c57a;
  cursor: pointer;
}

.actionButton {
  background-color: #55c57a;
  width: 50px;
  height: 20px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #fff
}

.modal {
  position: absolute;
  width: 150px;
  height: 110px;
  background-color: #efefef;
  /* display: block; */
  top: -132px;
  padding: 5px;
  z-index: 5;
}

.modal:after {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 10px;
  height: 10px;
  background: #efefef;
  left: 7px;
  margin-left: -5px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -10;
}

.modal p {
  font-size: 15px;
  margin-top: -4px
}

.imgSource {
  width: 100%;
  /* height: 50px; */
}

.hospot:hover+.modal {
  display: block;
}